body {
	background-color: #643EBF;
	color: white;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.5em;
}

.day {
	font-size: 2em;
	text-align: center;
}

.title {
	font-size: 5em;
	margin-left: 0.1em;
}

.day-forecast {
	background-color: #2672EC;
	padding: 1em;
	margin: 1em 0;
}

.forecast-list {
	margin: 1em;
}

.todays-forecast {
	background-color: #00C13F;
	padding: 1em;
	margin: 1em;
}
